main {
  max-width: 25rem;
  width: auto;
  margin: 1rem;
}

mat-card {
  border-radius: 1rem;
}

.card-content {
  padding: 1rem;
  text-align: center;
}

.caution-text {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #005cbb;
  font-weight: 400;
  margin: 0 3rem;
}

.caution-icon {
  position: relative;
  top: 0.3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: white;
  border: none;
}

.confirm-btn {
  color: #005cbb;
}

.close-btn {
  color: red;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.btn-menu-item {
  justify-content: space-between;
  padding: 0 1rem;
  color: #2c2c2c;
}

.btn-menu-item mat-icon {
  margin-left: 3rem;
}

.btn-menu-item-caution {
  color: red;
}
