mat-divider {
  margin-bottom: 0.7rem;
}

.main {
  height: 100dvh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.date {
  background: linear-gradient(150deg,#ff7070, #9198e5);
  letter-spacing: 0.12em;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-size: 1.9rem;
  font-weight: bold;
  width: 22rem;
  margin: 0.5rem;
  padding-top: 1.5rem;
  position: relative;
  line-height: normal;
}

.list-card {
  margin: 0.5rem;
  width: 22rem;
  min-width: auto;
  margin: 0.5rem;
  min-height: 300px;
  max-height: 30rem;
  overflow-x: hidden;
  height: auto;
}

.heading {
  font-weight: bold;
  margin-bottom: 1rem;
}


.todo-text {
  font-size: 18px;
}

.checked {
  text-decoration: line-through 2px;
  text-decoration-color: #A683E3;
}

.new-todo {
  width: 22rem;
  position: relative;
  margin: 0.5rem;
}

.new-todo-input {
  margin: 0.5rem, 0;
  margin-right: 0.5rem;
  width: 18rem;
}

.add-todo-btn {
  position: absolute;
  bottom: 1.2rem;
}

.greeting {
  line-height: normal;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
}

.menu-btn-text {
  font-size: small;
  font-weight: normal;
  color: #fff;
  letter-spacing: normal;
  position: relative;
  bottom: 0.6rem;
}

.menu-icon {
  color: #fff;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: gray;
}
