<main class="main">
  <mat-card class="card">
    <mat-card-content>

      <h3 class="title bold">To-Do App</h3>
      <h5 class="title">Log-in to continue</h5>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Username" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Password" required>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button mat-flat-button type="submit" color="accent">Log in</button>
        <a routerLink="/register">
          <button mat-button type="button" color="accent" class="signup">Dont have an account? Register now</button>
        </a>
      </form>

    </mat-card-content>
  </mat-card>
</main>
