<main class="main">
  <div class="container">
    <mat-card class="date">
      <div class="menu">
        <span class="menu-btn-text" hidden>Menu</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon class="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
          <button (click)="deleteUser()" mat-menu-item>
            <mat-icon>close</mat-icon>
            <span>Close account</span>
          </button>
          <button (click)="manageAccount()" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Manage your account</span>
          </button>
          <button (click)="clearTodo()" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Clear all To-Do</span>
          </button>
        </mat-menu>
      </div>

      <p class="greeting">Hi, {{nameText()}}</p>
      <mat-card-content>
        {{ dateText() }}
      </mat-card-content>
    </mat-card>
    <mat-card class="list-card">
      <mat-card-content class="list-card-content">
        <h4 class="heading">To-Do List</h4>
        <mat-divider></mat-divider>
        @for (todo of todoList(); track $index) {
          <p>
            <mat-checkbox [checked]="todo.checked" (click)="updateTodo($index, todo.content, !todo.checked)">
              <span class="todo-text" [ngClass]="{'checked': todo.checked}">
                {{todo.content}}
              </span>
            </mat-checkbox>
          </p>
          <mat-divider></mat-divider>
        }
        @empty {
          <div class="empty">
            <small>
              NO TODO FOUND
            </small>
          </div>
        }
      </mat-card-content>
    </mat-card>
    <div class="new-todo">
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="new-todo-input">
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" placeholder="Add new To-Do" formControlName="todo"></textarea>
        </mat-form-field>
        <button mat-fab color="primary" class="add-todo-btn" type="submit">
          <mat-icon>add</mat-icon></button>
      </form>
    </div>
  </div>
</main>
