.main{
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20rem;
  min-width: auto;
  margin: .5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.login {
  margin-top: 0.7rem;
  width: 100%;
}
